.App {
  text-align: center;
  background-image: url('../styles/ryan-stone-1061930-unsplash.jpg');
  background-size: cover;
  height: 100vh;
}

.boardContainer {
  align-self: center;
  background-color: #313E50;
  margin-top: 25px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
