.App {
  text-align: center;
  background-image: url('../styles/water-background.jpg');
  background-size: cover;
  height: 100vh;
}

.boardContainer {
  align-self: center;
  background-color: #313E50;
  margin-top: 25px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.gameStatus {
  width: 250px;
  border-radius: 5px;
  background-color: #363636;
  margin: auto;
  margin-top: 10px;
  color: #00F7F7;
  font-family: "Courier New";
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

#miss {
  background-color: white;
}

#hit {
  background-color: red;
}